*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body {
    height: 100%;
    width: 100%;
}
.Link{
    text-decoration: none;
}
#page1{
    height: 100vh;
    width: 100%;
}
#page1 .page1top {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pg1title{
    padding: 15px 0;
}
/* .join{
    font-size: ;
} */
.pg1summary{
    margin-bottom: 15px;
    font-size: 17px;
    width: 60%;
    text-align: center;
}
#bottamline{
    height: 1px;
    width: 10vw;
    background-color: gray;
}
.buttons{
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
#goto{
    color: white;
    background-color: rgb(0, 165, 236);
    border-radius: 5px;
    padding: 10px 25px;
}

#page1 .page1bottam{
    height: 50%;
    width: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 80px; */
    gap: 140px;
}


.userss{
    height: 60vh;
}
#page1 .page1bottam p{
    width: 35%;
    text-align: center;
}



/* -------------------------------student auth ----------------------- */

.studentauth{
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}
.studentauth p{
    width: 60%;
}
#register{
    color: white;
    background-color: #00A5EC;
    padding: 5px 20px;
    border: 1px solid #00A5EC ;
    border-radius: 5px;
    margin-right: 20px;
}
.Link{
    text-decoration: none;
}

#stuimg{
    height: 45vh;
}