* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
.solopage{
    padding: 40px 0;
    height: 110vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information{
    height: calc(110vh - 100px);
    width: 65%;
    border-radius: 10px;
    border: .2px solid rgba(128, 128, 128, 0.374);
    padding: 20px;
}
.button p{
    font-size: 12px;
}

.button i{
    color: #006BC2;
}

.button{
    padding: 2px 0;
    border-radius: 5px;
    height: 25px;
    width: 100px;
    outline: none;
    background-color: transparent;
    width: 110px;
    border: .5px solid rgba(0, 0, 0, 0.329);
    display: flex;
    justify-content: center;
}
